{:paths ["src" "resources" "target"]
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-554"}
                               org.clojure/clojure {:mvn/version "1.10.1"}
                               clj-http {:mvn/version "3.10.0"}
                               metosin/reitit {:mvn/version "0.3.10"}
                               ring {:mvn/version "1.8.0"}}}
           :repl {:extra-deps  {cider/cider-nrepl {:mvn/version "0.21.1"}
                                com.clojure-goes-fast/clj-memory-meter {:mvn/version "0.1.2"}
                                fipp {:mvn/version "0.6.19"}}
                  :extra-paths ["dev-src/backend" "dev-resources"]
                  :main-opts   ["-m" "nrepl.cmdline"
                                "--middleware" "[cider.nrepl/cider-middleware]"
                                "--bind" "127.0.0.1"
                                "--interactive"
                                "--color"]}

           :jar {:extra-deps {pack/pack.alpha
                              {:git/url "https://github.com/juxt/pack.alpha.git"
                               :sha "042c61410b1851957ae5f77cfe26a255837172cc"}}
                 :main-opts ["-m" "mach.pack.alpha.skinny" "--no-libs"
                             "--project-path" "pohjavirta.jar"]}
           :deploy {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy"
                                "pohjavirta.jar"]}
           :install {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
                     :main-opts ["-m" "deps-deploy.deps-deploy" "install"
                                 "pohjavirta.jar"]}
           :perf {:extra-paths ["perf"]
                  :extra-deps {criterium {:mvn/version "0.4.5"}
                               funcool/promesa {:mvn/version "4.0.2"}
                               metosin/reitit {:mvn/version "0.3.9"}
                               metosin/porsas {:mvn/version "0.0.1-alpha12"}
                               metosin/jsonista {:mvn/version "0.2.5"}
                               hikari-cp {:mvn/version "2.9.0"}
                               ring {:mvn/version "1.7.1"}
                               com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.4.0"}}
                  :jvm-opts ["-server"
                             "-Xms2G"
                             "-Xmx2G"
                             "-XX:+UseNUMA"
                             "-XX:+UseParallelGC"
                             "-XX:+AggressiveOpts"
                             "-Dvertx.disableMetrics=true"
                             "-Dvertx.threadChecks=false"
                             "-Dvertx.disableContextTimings=true"
                             "-Dvertx.disableTCCL=true"
                             "-Dclojure.compiler.direct-linking=true"]}}
 :deps {io.undertow/undertow-core {:mvn/version "2.0.26.Final"}}}
